HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/.idea/codeStyles
/.idea
/spring-security/.mvn
/spring-boot-shiro/.idea
/spring-boot-shiro/.mvn
/spring-boot-shiro/target
/spring-boot-shiro/*.iml
/spring-boot-rabbitmq/.mvn
/spring-boot-rabbitmq/target
/spring-boot-email/.mvn
/spring-boot-data-jpa/.mvn
/spring-boot-data-jpa/.mvn
